$size: 350px;

@keyframes rotate {
  // rotate on 3d transform for best perf, it ensures GPU accelerated animation
  0% {
    transform: rotateZ(360deg);
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateZ(0deg);
    opacity: 0.1;
  }
}

.loader {
  position: relative;

  &--dark {
    .circle {
      // border-top-color: rgba(146, 130, 243, 1);
    }
  }
}

.circle {
  // absolute position with 3d animation = render layer

  position: absolute;

  border: 12px solid transparent;
  border-top-color: rgba(146, 130, 243, 1);
  border-radius: 50%;

  animation: rotate linear infinite;

  &.one {
    height: $size;
    width: $size;
    left: 50px;
    top: 50px;
    animation-duration: 7.65s;
  }

  &.two {
    height: calc(#{$size} * 1.5);
    width: calc(#{$size} * 1.5);
    top: 38px;
    left: 38px;
    animation-duration: 10.95s;
  }

  &.three {
    height: calc(#{$size} * 2);
    width: calc(#{$size} * 2);
    top: 25px;
    left: 25px;
    animation-duration: 8.05s;
  }
}
