<main class="main">
  <div class="wrapper">
    <section class="todo__container">
      <header class="flex justify-between items-start mb-8">
        <h1 class="text-5xl text-white tracking-widest">TODO</h1>
        <button type="button" class="focus:outline-none" (click)="themeService.toggleDarkMode()">
          <svg-icon *ngIf="!isDarkMode" class="theme-icon" src="assets/svg/icon-moon.svg"></svg-icon>
          <svg-icon *ngIf="isDarkMode" class="theme-icon" src="assets/svg/icon-sun.svg"></svg-icon>
        </button>
      </header>

      <div class="item__container">
        <input type="checkbox" id="checkTodo" class="mr-5">
        <label for="checkTodo" class="pointer-events-none"></label>

        <input
        #newItem
        placeholder="Add an item 📍"
        type="text"
        (keyup.enter)="addItem(newItem.value); newItem.value = ''"
        id="addItemInput"
      />
      </div>

      <button class="opacity-0 h-0" (click)="addItem(newItem.value)">Add</button>

      <ul class="todo__list">
        <li class="item__container" *ngFor="let item of collection">
          <input type="checkbox" [checked]="item.done" (change)="checkValue(item)" id="{{item.description | trim}}" class="mr-5">
          <label for="{{item.description | trim}}"></label>
          <span [ngClass]="{'checked': item.done}">{{item.description}}</span>
        </li>
      </ul>

    </section>
  </div>
</main>
