.main {
  @apply h-screen bg-light-gray relative font-sans overflow-hidden dark:bg-dark-blue700;
  transition: all 650ms linear;

  &:before {
    @apply opacity-100 w-full absolute top-0 h-80 bg-cover dark:opacity-0;
    content: '';
    background-image: url(./../assets/images/bg-desktop-light.jpg);
    z-index: 5;
  }

  &:after {
    @apply opacity-0 w-full absolute top-0 h-80 bg-cover dark:opacity-100;
    content: '';
    background-image: url(./../assets/images/bg-desktop-dark.jpg);
    z-index: 5;
  }
}

.wrapper {
  @apply flex justify-center;
}

.theme-icon {
  svg {
    animation: ngFakeTransition 420ms;
  }
}

.todo {
  &__container {
    @apply mt-28 w-full max-w-lg z-10 p-4 sm:p-0;

  }
  &__list {
    @apply shadow-light dark:shadow-dark;

    @media (min-width: 1680px) {
      max-height: 512px;
    }

    overflow-y: auto;
    border-radius: 4px 4px 0 0;
    max-height: 341px;

    .item__container {
      @apply relative border-b border-solid border-light-blue100 dark:border-dark-blue500;
      border-radius: 0;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.item__container {
  @apply flex items-center bg-white px-5 py-4 rounded text-light-blue400 dark:bg-dark-blue600 dark:text-dark-blue200;

  input[type='text'] {
    @apply w-full bg-transparent text-light-blue400 dark:text-dark-blue100 mt-1;

    &:focus {
      outline: none;
    }
  }

  span {
    @apply transition-all;

    &.checked {
      @apply line-through text-light-blue200 dark:text-dark-blue400 transition-all;
    }
  }

  &--footer {
    @apply relative flex justify-between text-sm;
    @apply border-t border-solid border-light-blue100 dark:border-dark-blue500;
    border-radius: 0 0 4px 4px;
  }
}

.btn {
  @apply text-white;
  border-radius: 4px;
  background-size: 200% auto;
  background-image: linear-gradient(164deg, rgba(112,164,250,1) 0%, rgba(180,96,236,1) 100%);
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  transition: 0.5s;

  &:hover {
    background-position: right center;
  }

  &--login {
    @apply px-12 py-4;
  }

  &--signout {
    @apply px-6 py-2 m-2;
  }
}

@keyframes ngFakeTransition {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.animation {
  position: absolute;
  width: 64px;
  height: 64px;

  &__container {
    z-index: 0;
  }

  &--left {
    top: 60%;
    left: -10%;
  }

  &--right {
    top: 60%;
    right: -10%;
    transform: scaleX(-1);
  }

  &--middle {
    top: 20%;
    right: 70%;
  }
}
