<main class="main">
  <div class="wrapper">
    <section class="todo__container" *ngIf="authService.userData as user; else showLogin">

      <button (click)="authService.SignOut()" class="btn btn--signout absolute top-0 right-0">Sign out</button>

      <header class="flex justify-between items-start mb-8">
        <h1 class="text-5xl text-white tracking-widest">TODO</h1>
        <button type="button" class="text-4xl" (click)="themeService.toggleDarkMode()">
          {{ isDarkMode ? '🌝' : '🌚' }}
        </button>
      </header>

      <div class="item__container mb-6">
        <input type="checkbox" id="checkTodo" class="mr-5">
        <label for="checkTodo" class="pointer-events-none"></label>

        <input
        #newItem
        placeholder="Add an item 📍"
        type="text"
        (keyup.enter)="addItem(newItem.value); newItem.value = ''"
        id="addItemInput"
      />
      </div>

      <button class="opacity-0 h-0 invisible" (click)="addItem(newItem.value)">Add</button>

      <ul class="todo__list" *ngIf="dataLoaded; else emptyState">
        <li class="item__container" *ngFor="let item of collection">
          <input type="checkbox" [checked]="item.done" (change)="checkValue(item)" id="{{item.idFirebase}}" class="mr-5">
          <label for="{{item.idFirebase}}"></label>
          <span [ngClass]="{'checked': item.done}">{{item.description}}</span>
        </li>
      </ul>
      <div *ngIf="collection.length > 0" class="item__container item__container--footer">
        <span>{{collection.length}} items left</span>
        <button type="button" (click)="clearCompletedItems()">Clear completed</button>
      </div>

      <ng-template #emptyState>
        <ngx-skeleton-loader count="1" animation="pulse"
          [theme]="isDarkMode ? skeletonTheme.dark : skeletonTheme.default">
        </ngx-skeleton-loader>
      </ng-template>

    </section>
    <ng-template #showLogin>
      <section class="todo__container">
        <div class="flex justify-center">
          <button (click)="login()" class="btn btn--login">Log in to start 🤠</button>
        </div>
      </section>
    </ng-template>

    <div class="animation__container">
      <app-orbits-animation [darkmode]="isDarkMode" class="animation animation--1"></app-orbits-animation>
      <app-orbits-animation [darkmode]="isDarkMode" class="animation animation--2"></app-orbits-animation>
      <app-orbits-animation [darkmode]="isDarkMode" class="animation animation--3"></app-orbits-animation>
      <app-orbits-animation [darkmode]="isDarkMode" class="animation animation--4"></app-orbits-animation>
      <app-orbits-animation [darkmode]="isDarkMode" class="animation animation--5"></app-orbits-animation>
    </div>

  </div>
</main>
